<br>
<div class="container">
    <h1>Let's get you signed up!</h1>

    <% if @user.errors %>
        <% @user.errors.full_messages.each do |e| %>
            <div class="alert alert-danger" role="alert">
                <%= e %>
            </div>
        <% end %>
    <% end %>

    <%= form_for @user, url: '/signup' do |f| %>
        <div class="form-group">
            <%= f.text_field :name, class: "form-control", placeholder: "username" %>
        </div>
        
        <div class="form-group">
            <%= f.text_field :email, class: "form-control", placeholder: "email" %>
        </div>

        <div class="form-group">
            <%= f.password_field :password, class: "form-control", placeholder: "password" %>
        </div>

        <div class="form-group form-check">
            <%= f.check_box :instructor, class: "form-check-input" %>
            <%= f.label :instructor, "check this box if you are a tutor", class: "form-check-label text-muted" %>
        </div>
        
        <%= f.submit class:"btn btn-outline-success", value: "Sign Up" %>
    <% end %>
</div>