<h1>Sign up!</h1>

<% if @user.errors %>
    <ul>
    <% @user.errors.full_messages.each do |e| %>
        <li><%= e %></li>
    <% end %>
    </ul>
<% end %>

<%= form_for @user do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br>
    <%= f.label :instructor, "Check this box if you are an instructor" %>
    <%= f.check_box :instructor %>
    <br>
    <br>
    <%= f.submit %>
    
<% end %>