<br>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4"><%= @lesson.subject %> with <%= @lesson.instructor.name %></h1>
        <p class="lead"><%= @lesson.time_slot_display %><br>@ <%= @lesson.location %></p>
        <hr class="my-4">
        <p><%= @lesson.notes %></p>
        <% if belongs_to_current_user(@lesson) %>
            <a class="btn btn-primary btn-lg" href="<%= edit_lesson_path(@lesson) %>" role="button">edit lesson</a>
        <% end %>
    </div>
</div>