<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="<%= root_path %>">Jifunze</a>
  

  <% if user_is_authenticated %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <% if user_is_instructor %>
      <%= render "layouts/instructor_dropdown" %>
    <% else %>
      <%= render "layouts/student_dropdown" %>
    <% end %>
    
    <%= link_to "Log Out", logout_path, method: :post, class: "btn btn-outline-success" %>
    <%= link_to "physics lessons", "/lessons/physics", class: "btn btn-outline-success" %>
  </div>
  <% end %>
</nav>

